#nombreMascota{
    width: 400px;
    height: 200px;
    border: 2px solid black;
}﻿

#fotoMascota{
    width: 300px;
    height: 300px;
    border: 2px solid black;
}

.datosMascota{
    width: 400px;
    height:100px;
    border: 2px solid black;
}