#nombreMascota{
    width: 384px;
    height: 114px;
    border: 2px solid black;
    background: no-repeat;
    background-image: url("../imagenes/Mascotas/pgMascotasCuadro2.png");
}﻿

#aSaber{
    width: 20px;
    height: 20px;
    background: no-repeat;
    background-image: url("../imagenes/Mascotas/pgMascotasFoto.png");   
}

.datosMascota{
    width: 200px;
    height:40px;
    border: 2px solid black;
}

.datosInsertados{
   width: 400px;
   height:40px;
   background: no-repeat;
   background-image: url("../imagenes/Mascotas/pgMascotasCuadro1.png");
   background-size: 400px 40px;
}

#citas{
    width: 800px;
    height: 400px;
    border: 2px solid black;
}

.nMascota{
    background: no-repeat;
    background-image: url("../imagenes/NuevaMascota/pgDatosMascotaNombreLetras.png");  
}

.mChip{
    background: no-repeat;
    background-image: url("../imagenes/NuevaMascota/pgDatosMascotaChipLetras.png");  
}

.mSexo{
    background: no-repeat;
    background-image: url("../imagenes/NuevaMascota/pgDatosMascotaSexoLetras.png");  
}

.mEspecie{
    background: no-repeat;
    background-image: url("../imagenes/NuevaMascota/pgDatosMascotaEspecieLetras.png");  
}

.mRaza{
    background: no-repeat;
    background-image: url("../imagenes/NuevaMascota/pgDatosMascotaRazaLetras.png");  
}

.fNac{
    background: no-repeat;
    background-image: url("../imagenes/NuevaMascota/pgDatosMascotaNacimientoLetras.png");  
}

.mProp{
    background: no-repeat;
    background-image: url("../imagenes/NuevaMascota/pgDatosMascotaPopietarioLetras.png");  
}

.pApellidos{
   background: no-repeat;
   background-image: url("../imagenes/Cliente/pgClienteApellido.png"); 
}

.pDNI{
   background: no-repeat;
   background-image: url("../imagenes/Cliente/pgClienteDNILetras.png"); 
}

.pDir{
   background: no-repeat;
   background-image: url("../imagenes/Cliente/pgClienteDireccionLetras.png"); 
}

.pCP{
   background: no-repeat;
   background-image: url("../imagenes/Cliente/pgClienteCPostalLetras.png"); 
}

.pTLFN{
   background: no-repeat;
   background-image: url("../imagenes/Cliente/pgClienteTelefonoLetras.png"); 
}

.banner{
    background: no-repeat;
    background-image: url("../imagenes/Login/Banner.png");
    width:916px;
    height:160px;
}

#contenido{
    width:100px;
    background-color: #989cc3;
}